/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
}

.hero{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	padding:30px;
	
}
.hero img{
	width:60%;
	height:400px;
	border-radius:5px;
	/* object-fit: cover; */
}
.hero-text{
	margin-left:40px;
}

.hero-text h1{
	font-size:28px;
	font-weight:700;
	margin-bottom:15px;
}

.hero-text p{
	font-size:16px;
	margin-bottom:15px;
	color:black;
}

.btn{
	padding:10px 20px;
	background-color:red;
	color:white;
	text-decoration:none;
	border-radius:5px;
	font-width:600px;
}

